.center(style="text-align: center;")
  h1 #{@banner_person.first_name} #{@banner_person.last_name}
  #chart-container(style="width:100%; height:400px;")
    javascript:
      console.log('gon.pts:', gon.pts[0][0])
      console.log('gon.handouts:', gon.handouts[0][0])
      for(var i = 0; i < gon.pts.length; i++) {
        let strs = gon.pts[i][0].split('-')
        gon.pts[i][0] = Date.UTC(parseInt(strs[0]), parseInt(strs[1]) -1, parseInt(strs[2]))
      }
      for(var i = 0; i < gon.handouts.length; i++) {
        let strs = gon.handouts[i][0].split('-')
        gon.handouts[i][0] = Date.UTC(parseInt(strs[0]), parseInt(strs[1]) -1, parseInt(strs[2]))
      }
      console.log('gon.pts:', gon.pts[0][0])
      console.log('gon.handouts:', gon.handouts[0][0])

      document.addEventListener('DOMContentLoaded', function () {
        var myChart = Highcharts.chart('chart-container', {
          chart: {
              zoomType: 'xy'
          },
          title: {
              text: 'Loyalty Points and Handouts for January 2019'
          },
          xAxis: [{
              type: 'datetime',
              crosshair: true
          }],
          yAxis: [{ // Primary yAxis
              labels: {
                  format: '{value}pts',
                  style: {
                      color: Highcharts.getOptions().colors[1]
                  }
              },
              title: {
                  text: 'Loyalty Points',
                  style: {
                      color: Highcharts.getOptions().colors[1]
                  }
              }
          }, { // Secondary yAxis
              title: {
                  text: 'Handouts',
                  style: {
                      color: Highcharts.getOptions().colors[0]
                  }
              },
              labels: {
                  format: '{value} units',
                  style: {
                      color: Highcharts.getOptions().colors[0]
                  }
              },
              opposite: true
          }],
          tooltip: {
              shared: true
          },
          legend: {
              layout: 'vertical',
              align: 'left',
              x: 120,
              verticalAlign: 'top',
              y: 100,
              floating: true,
              backgroundColor:
                  Highcharts.defaultOptions.legend.backgroundColor || // theme
                  'rgba(255,255,255,0.25)'
          },
          series: [{
              name: 'Handouts',
              type: 'column',
              yAxis: 1,
              data: gon.handouts,
              tooltip: {
                  valueSuffix: ' units'
              }

          }, {
              name: 'Loyalty Points',
              type: 'spline',
              data: gon.pts,
              tooltip: {
                  valueSuffix: 'pts'
              }
          }]
        })
      });
  .table-container
    h4 Enhanced View Mode
  table#items
    thead
      th
        tr
          th
          th Memberhsip ID
          th Banner Person ID
          th HSID
          th Date
          th Loyalty Points
          th Handouts
          th Advisements
          th Rate
    tbody
      - @table.each_with_index do |r, i|
        tr
          td.i = i
          td.id = @membership.id
          td.id = @banner_person.id
          td.hsid = @membership.house_id
          td.date = r["cdate"]
          td.lpts = r["lpts"]
          td.handouts = r["hunits"]
          td.advisements = r["aunits"]
          td.acc = "#{@rates_col[i]} %"
/ for debugging
/  .handouts-container
    | Handouts
  - if @handouts.any?
    table#items
      - for h in @handouts
        tr
          td.date = h.date
          td.units = h.units
  - else
    p No items found. Please add some Handouts.
      Thank you!

  .loyalty_points-container
    | Loyalty Points
  - if @loyalty_points.any?
    table#items
      - for l in @loyalty_points
        tr
          td.date = l.date
          td.units = l.pts
  - else
    p No items found. Please add some Loyalty Points.
      Thank you!
/!
