.center(style="text-align: center;")
  | #{@banner_person.first_name} #{@banner_person.last_name}
  #chart-container(style="width:100%; height:400px;")
    javascript:
      //date conversion from Ruby to JS
      for(var i = 0; i < gon.handouts.length; i++) {
        gon.handouts[0] = new Date( gon.handouts[0] )
      }
      for(var i = 0; i < gon.pts.length; i++) {
        gon.pts[0] = new Date( gon.pts[0] )
      }

      document.addEventListener('DOMContentLoaded', function () {
        var myChart = Highcharts.chart('chart-container', {
          chart: {
              zoomType: 'xy'
          },
          title: {
              text: 'Loyalty Points and Handouts for January 2019'
          },
          xAxis: [{
              type: 'datetime',
              dateTimeLabelFormats: {
                  month: '%e. %b',
                  year: '%b'
              },
              title: {
                  text: 'Date'
              },
              crosshair: true
          }],
          yAxis: [{ // Primary yAxis
              labels: {
                  format: '{value}pts',
                  style: {
                      color: Highcharts.getOptions().colors[1]
                  }
              },
              title: {
                  text: 'Loyalty Points',
                  style: {
                      color: Highcharts.getOptions().colors[1]
                  }
              }
          }, { // Secondary yAxis
              title: {
                  text: 'Handouts',
                  style: {
                      color: Highcharts.getOptions().colors[0]
                  }
              },
              labels: {
                  format: '{value} units',
                  style: {
                      color: Highcharts.getOptions().colors[0]
                  }
              },
              opposite: true
          }],
          tooltip: {
              shared: true
              headerFormat: '<b>{series.name}</b><br>',
              pointFormat: '{point.x:%e. %b}: {point.y:.2f} m'
          },
          legend: {
              layout: 'vertical',
              align: 'left',
              x: 120,
              verticalAlign: 'top',
              y: 100,
              floating: true,
              backgroundColor:
                  Highcharts.defaultOptions.legend.backgroundColor || // theme
                  'rgba(255,255,255,0.25)'
          },
          series: [{
              name: 'Handouts',
              type: 'column',
              yAxis: 1,
              data: gon.handouts,
              tooltip: {
                  valueSuffix: ' units'
              }

          }, {
              name: 'Loyalty Points',
              type: 'spline',
              data: gon.pts,
              tooltip: {
                  valueSuffix: 'pts'
              }
            }
          ]
        })
      });
  .handouts-container
    | Handouts
  - if @handouts.any?
    table#items
      - for h in @handouts
        tr
          td.date = h.date
          td.units = h.units
  - else
    p No items found. Please add some Handouts.
      Thank you!

  .loyalty_points-container
    | Loyalty Points
  - if @loyalty_points.any?
    table#items
      - for l in @loyalty_points
        tr
          td.date = l.date
          td.units = l.pts
  - else
    p No items found. Please add some Loyalty Points.
      Thank you!
