.center(style="text-align: center;")
  | #{@banner_person.first_name} #{@banner_person.last_name}
  #chart-container(style="width:100%; height:400px;")
    javascript:
      document.addEventListener('DOMContentLoaded', function () {
        var myChart = Highcharts.chart('chart-container', {
          chart: {
              zoomType: 'xy'
          },
          title: {
              text: 'Loyalty Points and Handouts for January 2019'
          },
          xAxis: [{
              categories: ['01', '02', '03', '04', '05', '06',
                  '07', '08', '09', '10', '11', '12', '13', '14', '15', '16',
                  '17', '18', '19', '20', '21', '22', '23', '24', '25', '26',
                  '27', '28', '29', '30', '31'],
              crosshair: true
          }],
          yAxis: [{ // Primary yAxis
              labels: {
                  format: '{value}pts',
                  style: {
                      color: Highcharts.getOptions().colors[1]
                  }
              },
              title: {
                  text: 'Loyalty Points',
                  style: {
                      color: Highcharts.getOptions().colors[1]
                  }
              }
          }, { // Secondary yAxis
              title: {
                  text: 'Handouts',
                  style: {
                      color: Highcharts.getOptions().colors[0]
                  }
              },
              labels: {
                  format: '{value} units',
                  style: {
                      color: Highcharts.getOptions().colors[0]
                  }
              },
              opposite: true
          }],
          tooltip: {
              shared: true
          },
          legend: {
              layout: 'vertical',
              align: 'left',
              x: 120,
              verticalAlign: 'top',
              y: 100,
              floating: true,
              backgroundColor:
                  Highcharts.defaultOptions.legend.backgroundColor || // theme
                  'rgba(255,255,255,0.25)'
          },
          series: [{
              name: 'Handouts',
              type: 'column',
              yAxis: 1,
              data: gon.handouts,
              tooltip: {
                  valueSuffix: ' units'
              }

          }, {
              name: 'Loyalty Points',
              type: 'spline',
              data: gon.pts,
              tooltip: {
                  valueSuffix: 'pts'
              }
          }]
        })
      });
  .table-container
    | Enhanced View Mode
  table#items
    thead
      th
        tr
          th
          th Memberhsip ID
          th Banner Person ID
          th HSID
          th Date
          th Loyalty Points
          th Handouts
          th Advisements
          th Rate
    tbody
      - @table.each_with_index do |r, i|
        tr
          td.i = i
          td.id = @membership.id
          td.id = @banner_person.id
          td.hsid = @membership.house_id
          td.date = r["cdate"]
          td.lpts = r["lpts"]
          td.handouts = r["hunits"]
          td.advisements = r["aunits"]
          td.acc = @rates_col[i]
  .handouts-container
    | Handouts
  - if @handouts.any?
    table#items
      - for h in @handouts
        tr
          td.date = h.date
          td.units = h.units
  - else
    p No items found. Please add some Handouts.
      Thank you!

  .loyalty_points-container
    | Loyalty Points
  - if @loyalty_points.any?
    table#items
      - for l in @loyalty_points
        tr
          td.date = l.date
          td.units = l.pts
  - else
    p No items found. Please add some Loyalty Points.
      Thank you!
